.vs/
out/
build/
builds/
ParaView/
tmp_cases/

CMakeSettings.json

.vscode/settings.json
.vscode/c_cpp_properties.json


/*.msh

*.csv
*.gf
mesh.mesh
*.mtx

testData/*/*.vtk

__pycache__/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.FCStd1



/CMakeUserPresets.json

/to_from_JSONFile_test.pulmtln.out.json
/Results
/mfem-build
/testData/lansink2024_single_wire/lansink2024_single_wire.areas.json
/testData/lansink2024_fdtd_cell/calculations.py
/testData/lansink2024/inCellPotentials.out.json
/XMLGoogleTestResults.xml
